<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">
  <title>Admin</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header>
    <div class="profile">
    <div class="text">
      <h2>Welcome, <%= user.username %></h2>
    </div>
    <div class="image">
      <div class="display_profile">
        <img src=" <%= imageUrl %>" alt="profile_picture">
      </div>
      <div class="upload_profile">
        <form action="/admin-route/avatar" method="POST" enctype="multipart/form-data">
          <input name="avatar" type="file">
          <button type="submit" class="upload_profile_button">Upload Picture</button>
        </form>
      </div>
    </div>
  </div>
  </header>

  <div id="mario-chat">
    <div id="chat-window">
      <div id="output">
        <%allMessage.forEach((message) => { %>
          <p><strong><%=message.sentBy %>: <br></strong><%=message.text %> <br> <a href=<%=message.url%>> meet-link</a></p>
          <% }) %>
      </div>
    </div>
    <input type="text" id="handle" placeholder="Handle" value="<%= user.username %> "/>
    <input type="text" id="message" placeholder="Subject Of Meet">
    <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*">
    <button id="send">Send</button>
  </div>
  <!-- profile setup -->

  <script src="./js/chat.js"></script>
</body>
</html>
